nav {
  display: flex;
  padding: 20px 32px;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--text-color-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
}

#nav-menu {
  display: flex;
  gap: 8px;
}

#nav-logo a {
  color: var(--brand-color-light);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

#nav-search {
  display: flex;
  gap: 8px;
}

#main-menu {
  padding: 14px 32px;
  border-bottom: 1px solid var(--stroke-color);
  border-top: 1px solid var(--stroke-color);
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

a {
  text-decoration: none;

  color: var(--text-color-secondary);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 145%;
}
